body {
  background-color: #3F200B;
}
/*238 x 156px*/
/*50pt coffe:35pt*/
.logo {
  height: 156px;
  width: 238px;
  text-align: center;
  color: white;
  border: solid 2px;
  top: 50%;
  margin-top: -78px;
  position: absolute;
  left: 50%;
  margin-left: -119px;
}
.logo:hover {
  border: none !important;
}
a {
  text-decoration: none;
}

.logo-text {
  padding-top: 30px;
}
.first {
  font-family: 'perpetua';
  font-weight: bold;
  font-size: 50px;
}

.second {
  font-family: 'orator std';
  font-size: 35px;
}